In [44]:
import seaborn as sns
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [45]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [46]:
df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/India GDP 1960-2022.csv')

In [47]:
df.head()

,Unnamed: 0,India GDP - Historical Data,India GDP - Historical Data.1,India GDP - Historical Data.2,India GDP - Historical Data.3
0,NaN,Year,GDP,Per Capita,Growth
1,0.0,2021,"$3,173.40B","$2,277",8.95%
2,1.0,2020,"$2,667.69B","$1,933",-6.60%
3,2.0,2019,"$2,831.55B","$2,072",3.74%
4,3.0,2018,"$2,702.93B","$1,998",6.45%

In [48]:
df.isnull().sum()

Unnamed: 0                       1
India GDP - Historical Data      0
India GDP - Historical Data.1    0
India GDP - Historical Data.2    0
India GDP - Historical Data.3    0
dtype: int64

In [49]:
df.shape

(63, 5)

In [50]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63 entries, 0 to 62
Data columns (total 5 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Unnamed: 0                     62 non-null     float64
 1   India GDP - Historical Data    63 non-null     object
 2   India GDP - Historical Data.1  63 non-null     object
 3   India GDP - Historical Data.2  63 non-null     object
 4   India GDP - Historical Data.3  63 non-null     object
dtypes: float64(1), object(4)
memory usage: 2.6+ KB

In [51]:
df.columns

Index(['Unnamed: 0', 'India GDP - Historical Data',
       'India GDP - Historical Data.1', 'India GDP - Historical Data.2',
       'India GDP - Historical Data.3'],
      dtype='object')

In [52]:
df.drop(['Unnamed: 0'], axis=1, inplace=True)

In [53]:
df.rename( columns = {
    'India GDP - Historical Data':'Year', 
    'India GDP - Historical Data.1':'GDP', 
    'India GDP - Historical Data.2':'Per Capita',
    'India GDP - Historical Data.3':'Growth'}, inplace = True)

In [54]:
df.head()

   Year         GDP  Per Capita  Growth
0  Year         GDP  Per Capita  Growth
1  2021  $3,173.40B      $2,277   8.95%
2  2020  $2,667.69B      $1,933  -6.60%
3  2019  $2,831.55B      $2,072   3.74%
4  2018  $2,702.93B      $1,998   6.45%

In [55]:
df.drop([0], axis=0, inplace=True)

In [56]:
df

    Year         GDP Per Capita  Growth
1   2021  $3,173.40B     $2,277   8.95%
2   2020  $2,667.69B     $1,933  -6.60%
3   2019  $2,831.55B     $2,072   3.74%
4   2018  $2,702.93B     $1,998   6.45%
5   2017  $2,651.47B     $1,981   6.80%
..   ...         ...        ...     ...
58  1964     $56.48B       $116   7.45%
59  1963     $48.42B       $101   5.99%
60  1962     $42.16B        $90   2.93%
61  1961     $39.23B        $85   3.72%
62  1960     $37.03B        $82       %

[62 rows x 4 columns]

In [35]:
df.drop(df.tail(1).index,inplace=True)

In [58]:
df['GDP'] = df['GDP'].str.replace('$','')
df['Per Capita'] = df['Per Capita'].str.replace('$','')
df['Growth'] = df['Growth'].str.replace('%','')
df['GDP'] = df['GDP'].str.replace('B','')
df['GDP'] = df['GDP'].str.replace(',','')
df

<ipython-input-58-6f1edec8b238>:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['GDP'] = df['GDP'].str.replace('$','')
<ipython-input-58-6f1edec8b238>:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['Per Capita'] = df['Per Capita'].str.replace('$','')

    Year      GDP Per Capita Growth
1   2021  3173.40      2,277   8.95
2   2020  2667.69      1,933  -6.60
3   2019  2831.55      2,072   3.74
4   2018  2702.93      1,998   6.45
5   2017  2651.47      1,981   6.80
..   ...      ...        ...    ...
58  1964    56.48        116   7.45
59  1963    48.42        101   5.99
60  1962    42.16         90   2.93
61  1961    39.23         85   3.72
62  1960    37.03         82

[62 rows x 4 columns]